<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>
	i am index.html !
	<button id="btn">跳转到登录页</button>
</body>
</html>